# Dependencies & Node Modules
node_modules/
.pnp
.pnp.js

# Testing & Build Outputs
.next/
out/
build/
dist/

# Environment Variables & Secrets
.env
.env.local
.env.development.local
.env.production.local

# Vercel Deployment Folder
.vercel/

# IDE & Editor Local Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
